<template name="Product_box">
    <div class="col-md-3 ">
      <a href="{{pathFor 'Product.show' _id=productId}}">
        <div class="small-box bg-green" style="background-image: url('{{background.url store='images' uploading='/images/uploading.gif' storing='/images/storing.gif'}}'); background-size: cover;">
            <div class="inner">
                <h1>{{product.name}}</h1>
                {{#if product.category}}<h2>{{categoryName product.category}}</h2>{{/if}}
                <p>{{product.description}}
              </p>
            </div>
        </div>
      </a>
    </div>
</template>
