<template name="User_profile_list">
    <div class="col-md-8 col-md-offset-2">
        <div class="box box-primary">
            <div class="box-body box-profile">
                {{#each user in users}}
                    <div class="col-md-3 ">
                        <div class="small-box bg-primary">
                            <div class="inner">
                                <a href="{{pathFor 'User.show' _id=user._id}}">{{#each email in user.emails}} {{email.address}} {{/each}}</a>
                            </div>
                        </div>

                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</template>