<template name="User_profile">
    <div class="col-md-3">
        <div class="box box-primary">
            <div class="box-body box-profile">
                <h3 class="profile-username text-center">{{#each email in user.emails}} {{email.address}} {{/each}}</h3>


                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>Produktów</b><a class="pull-right">{{counter}}</a>
                    </li>

                </ul>

                <a href="#timeline" data-toggle="tab" class="btn btn-primary btn-block"><b>Dodaj Produkty</b></a>
            </div>
        </div>
    </div>
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#activity" data-toggle="tab">Produkty</a></li>
                    <li><a href="#timeline" data-toggle="tab">Dodaj nowy</a></li>
</ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="activity">
                        <div class="row">
                            {{#each product in products}}
                                {{> Product_box (productArgs product)}}
                            {{/each}}

                        </div>

                    </div><!-- /.tab-pane -->
                    <div class="tab-pane" id="timeline">
                        <!-- The timeline -->
                        <form class="js-product-new product-new input-symbol">
                            <label>Tytul</label><input type="text" placeholder="podaj tytul" class="form-control title">
                             <label>Tagi produktu</label><input type="text"  class="productTags tags form-control">
                              <label>Stan produktu</label> <input type="checkbox" class="switcher statusproduct" value="1" name="stanProdukty"><br/>
                             <label>Kategoria</label><br>
                              {{#each category in categories}}
                                    <input name="category" type="radio" value="{{category._id}}" id="{{category.name}}"/><label for="{{category.name}}">{{category.name}}</label><br />
                                    {{> Category_radio category }}
                                    <hr />
                              {{/each}}

                             <label>Interesują mnie</label><input type="text" class="wantedTags tags form-control">
                             <label>Interesują mnie kategorie</label><br>
                             {{#each category in categories}}
                                   <input name="category{{category._id}}" class="categoryCheckbox" type="checkbox" value="{{category._id}}" id="{{category.name}}"/><label for="{{category.name}}">{{category.name}}</label><br />
                                   {{> Category_checkbox category }}
                                   <hr />
                             {{/each}}
                             <label>Zdjecie produtku</label>
                             <input type="file" class="file-upload form-control">
                             <input type="file" class="file-upload form-control">
                             <input type="file" class="file-upload form-control">
                             <input type="file" class="file-upload form-control">
                             <input type="file" class="file-upload form-control">
                             <input type="file" class="file-upload form-control">
                            <label>Opis</label><textarea id="summernote" placeholder="podaj opis" class="form-control desc"></textarea>
                            <button type="submit" class="btn btn-primary">Dodaj produkt</button>
                        </form>
                    </div><!-- /.tab-pane -->

                </div><!-- /.tab-content -->
            </div><!-- /.nav-tabs-custom -->
        </div>
<div class="clearfix"></div>
</template>

<template name="Category_checkbox">
  <hr />
{{#each category in insideCats}}
  <input type="checkbox" class="categoryCheckbox" name="categorychk{{category._id}}" value="{{category._id}}" id="{{category.name}}"/><label for="{{category.name}}">{{category.name}}</label><br />
{{/each}}
</template>

<template name="Category_radio">
    <hr />
  {{#each category in insideCats}}
    <input type="radio" name="category" value="{{category._id}}" id="{{category.name}}"/><label for="{{category.name}}">{{category.name}}</label><br />
  {{/each}}

</template>
