
<template name="Product_list">
    <div class="row search-box">

            <div class="col-md-12">
                <div class="col-md-8">
                    {{> EasySearch.Input index=productsIndex attributes=searchAttr timeout=200}}
                </div>
                <div class="col-md-4">
                    <input type="checkbox" class="switcher" value="0" name="switcher">
                </div>
            </div>


    </div>
    <div class="row">
        {{#EasySearch.Each index=productsIndex}}
            {{> Product_box (productArgs this)}}

        {{/EasySearch.Each}}
    </div>
    <div class="row">
        {{> EasySearch.LoadMore index=productsIndex content="Zobacz więcej..." attributes=buttonAttr}}
    </div>
</template>