<template name="App_body">
    <body class="hold-transition skin-blue-light sidebar-mini">
    <div class="wrapper">

        <!-- Main Header -->
        <header class="main-header">

            <!-- Logo -->
            <a href="/user" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>S</b>T</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Smap</b>Time</span>
            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account Menu -->
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">




                <ul class="sidebar-menu">
                    <li class="header">Menu</li>
                    <!-- Optionally, you can add icons to the links -->

                    <li ><a href="{{pathFor 'User.show' _id=currentUser._id}}"><i class="fa fa-newspaper-o"></i> <span>Twój profil</span></a></li>
                    <li ><a href="{{pathFor 'Users.list'}}"><i class="fa fa-newspaper-o"></i> <span>Lista uzytkownikow</span></a></li>
                    <li ><a href="{{pathFor 'Product.list'}}"><i class="fa fa-newspaper-o"></i> <span>Lista Produktow</span></a></li>
                    
                    
                    {{#if currentUser}}
                        <li ><a href="#" class="js-logout"><i class="fa fa-newspaper-o"></i> <span>Wyloguj</span></a></li>
                    {{else}}
                    <li ><a href="{{pathFor 'signin'}}"><i class="fa fa-newspaper-o"></i> <span>Zaloguj</span></a></li>
                    <li ><a href="{{pathFor 'join'}}"><i class="fa fa-newspaper-o"></i> <span>Zarejestruj</span></a></li>
                    {{/if}}
                </ul><!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>

        <div class="content-wrapper">
        <!-- Content Wrapper. Contains page content -->
            <section class="content">
                {{#momentum plugin="fade"}}

                    {{> Template.dynamic template=main}}

                {{/momentum}}
                </section>
            </div>


        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->

            <!-- Default to the left -->
            <strong>Copyright &copy; 2016 <a href="#">SmapTime</a>.</strong>.
        </footer>

        <!-- Control Sidebar -->

        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->


    <script src="/js/app.min.js"></script>

    <link rel="stylesheet" href="/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
          page. However, you can choose any other skin. Make sure you
          apply the skin class to the body tag so the changes take effect.
    -->
    <link rel="stylesheet" href="/css/skins/skin-blue-light.min.css">
    <!--<link rel="stylesheet" href="/css/slider.css">-->
    <!--<link rel="stylesheet" href="/css/custom.css">-->
    </body>
</template>