<template name="Product_show">
    <div class="col-md-3">
        <div class="box box-primary">
            <div class="box-body box-profile">
                <h3 class="profile-username text-center">{{product.name}}</h3>


                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>Użytkownik:</b> {{#each email in userProduct.emails}} {{email.address}} {{/each}}

                    </li>
                    <li class="list-group-item">

                        <b>Kategoria:</b> {{#if product.category}}{{categoryName product.category}}{{/if}}
                    </li>
                    <li class="list-group-item">

                        <b>Stan:</b> {{statusCheck product.status}}
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="box box-primary">

            <div class="carousel-outer">
                <a class="close"></a>
                <div class="carousel-wrapper centered">
                    <div id="my-carousel" class="carousel slide">
                        <div class="carousel-inner">
                            <!-- Carousel items -->
                            {{#each image in images}}

                            <div class="item     {{#if image.isFirst}}active  {{/if}}">

                                <img src="{{image.url store='images' uploading='/images/uploading.gif' storing='/images/storing.gif'}}" alt="" class="img-responsive" />
                            </div>
                            {{/each}}
                        </div>
                        <!-- Carousel nav -->
                        <a class="carousel-control left" href="#my-carousel" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#my-carousel" data-slide="next">&rsaquo;</a>
                    </div>
                </div>
            </div>

            {{product.description}}


        </div>
    </div>
    <div class="clearfix"></div>
</template>
