<template name="Categories_insert">
  <div class="col-md-12">
    <div class="box box-primary">
      {{#autoForm collection=Categories  id="categoriesForm" type="insert"}}
            {{> afQuickField name='name'}}
             {{> afQuickField name='color' }}

             {{> afQuickField name='parentId' options=options type="select-radio"}}
               <button type="submit" class="btn btn-primary">Dodaj</button>
          {{/autoForm}}
    </div>
  </div>
</template>
